MODE="run" # init / run
EXECUTE_ENV_PATH="/app/seeder/scripts/execute/env.sh"
SEEDER_EXTERNAL_RPC_URL="http://0.0.0.0:6000"
SEEDER_INTERNAL_RPC_URL="http://0.0.0.0:6001"

RPC_CALL_ENV_PATH="/app/seeder/scripts/rpc-call/env.sh"
LIVENESS_PLATFORM="ethereum"
LIVENESS_SERVICE_PROVIDER="radius"
LIVENESS_RPC_URL="http://127.0.0.1:8545"
LIVENESS_WS_URL="ws://127.0.0.1:8546"
LIVENESS_CONTRACT_ADDRESS="0x0000000000000000000000000000000000000000"
